/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*=========================================================================MY CODE===========================================================*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.7rem;
    color: #516171;
    --blueish-color: rgba(0, 145, 255, 0.547);
    --purpleish-color: rgba(164, 8, 164, 0.551);
    --blue-color: blue;
    --purple-color: purple;
    --black-color: black;
    --grey-color: grey;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

img{
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}


/*Nav styling*/

.navbar{
    width: 100vw;
    background-color: var(--blueish-color) !important;
    box-shadow: 0px 6px 21px var(--blue-color);
    margin-bottom: 4rem;
}



.navbar .navbar-brand{
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: var(--purple-color);
    font-weight: 800;
}

.navbar .navbar-brand:hover{
    color: var(--purpleish-color);
}

.navbar-nav .nav-item .nav-link{
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: var(--purple-color);
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--purpleish-color);
}

.btn-brand{
    color: var(--purple-color);
    font-size: 1.3rem;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.btn-brand:hover{
    background-color: var(--blue-color);
    color: var(--purpleish-color);
}

.fa-bars{
    font-weight: 600;
    color: var(--purpleish-color);
}

.fa-bars:hover{
    color: var(--purple-color) !important;
}

/* navbar media qs */
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    .navbar{
        width: 100vw;
    }

    .navbar-nav .nav-item .nav-link{
        font-size: 1.2rem;
    }

    .navbar .navbar-brand{
        font-size: 1.5rem;
    }

    .btn-brand{
        font-size: 1.4rem;
    }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    .navbar{
        width: 99vw;
    }

    .navbar-nav .nav-item .nav-link{
        font-size: 1.6rem;
    }

    .navbar .navbar-brand{
        font-size: 2rem;
    }

    .btn-brand{
        font-size: 1.7rem;
    }
    
 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    .navbar{
        width: 100vw;
    }

    .navbar-nav .nav-item .nav-link{
        font-size: 1.9rem;
    }

    .navbar .navbar-brand{
        font-size: 2.4rem;
    }

    .btn-brand{
        font-size: 1.9rem;
    }
 }

 /* XLarge devices (desktops, 1024px and up)*/
@media screen and (min-width: 1024px){
    .navbar{
        width: 100vw;
    }

    .navbar-nav .nav-item .nav-link{
        font-size: 1.9rem;
    }

    .navbar .navbar-brand{
        font-size: 2.5rem;
    }

    .btn-brand{
        font-size: 1.9rem;
    }
}



/*home bg img styling*/
.bg {
    background: linear-gradient(90deg, var(--blueish-color), var(--purpleish-color)),url(".//silhouette-business-people-urban-scene-concepts-group-46666470.jpg"); 
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(21px);
}


.loading-text {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 56px;
    text-align: center;
    justify-content: center;
}


#home h1{
    margin-top: 7px;
    font-size: 1.9rem;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: var(--purple-color);
}

#home p{
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 21px;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: var(--black-color);
    width: 80vw;
}

/* home section media qs */
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    #home h1{
        font-size: 3rem;
        margin-right: 4rem;
    }

    #home p{
        font-size: 2.5rem;
        line-height: 2.4rem;
        padding-top: 2.5rem;
    }
    
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    #home h1{
        font-size: 2.5rem;
        margin-right: 4rem;
    }

    #home p{
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    #home h1{
        font-size: 3.5rem;
    }

    #home p{
        font-size: 2.9rem;
        line-height: 2.5rem;
    }
 }

  /* XLarge devices (desktops, 1024px and up)*/
@media screen and (min-width: 1024px){
    #home h1{
        padding-top: 5rem;
        font-size: 2.5rem;
    }

    #home p{
        padding-top: 2rem;
        font-size: 2rem;
    }
}



 /*================================================== Services Section starts =======================================================*/
#services{
    background-color: linear-gradient(90deg, var(--purpleish-color), var(--blueish-color));
}

 .service-content h1{
    font-size: 2rem;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slider {
    height: 100%;
    width: 50%;
    position: absolute;
    top: -30px;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slider > div {
    height: 100%;
    width: 100%;    /*100% of its container ie 35%*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slider h1 {
    font-size: 35px;
    margin-bottom: 14px;
    margin-top: -35px;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
}

.right-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;  /*since the left-slider takes up 35%, our right-slider has to start from the end of the lfet-slider ie 35%*/
    width: 65%;
    transition: transform .5s ease-in-out;
}

.right-slider > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;     /*centered on both x and y axis*/
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 21px;
    padding: 15px;
    font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-btns button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-btns .button-down {
    transform: translateX(-100%); /*puts the down arrrow to the left*/
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.slider-container .action-btns .button-up {
    transform: translateY(-100%); /*puts the up arrrow slightly higher than the down arrow*/
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


/* services media qs */
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    
    
 }

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) { 
    
    
 }

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) { 
    
 }

 /* XLarge devices (desktops, 1024px and up)*/
@media screen and (min-width: 1024px){
    .service-content h1{
        font-size: 2rem;
        font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    }
    
    .slider-container {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
    
    .left-slider {
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform .5s ease-in-out;
    }
    
    .left-slider > div {
        height: 100%;
        width: 100%;    /*100% of its container ie 35%*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    
    .left-slider h1 {
        font-size: 35px;
        margin-bottom: 14px;
        margin-top: -35px;
        font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    }
    
    .right-slider {
        height: 100%;
        position: absolute;
        top: 0;
        left: 35%;  /*since the left-slider takes up 35%, our right-slider has to start from the end of the lfet-slider ie 35%*/
        width: 65%;
        transition: transform .5s ease-in-out;
    }
    
    .right-slider > div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;     /*centered on both x and y axis*/
        height: 100%;
        width: 100%;
    }
    
    button {
        background-color: #fff;
        border: none;
        color: gray;
        cursor: pointer;
        font-size: 21px;
        padding: 15px;
        font-family: 'Ubuntu' 'Gill Sans', 'Gill Sans MT' 'Trebuchet MS', sans-serif;
    }
    
    button:hover {
        color: #222;
    }
    
    button:focus {
        outline: none;
    }
    
    .slider-container .action-btns button {
        position: absolute;
        left: 35%;
        top: 50%;
        z-index: 100;
    }
    
    .slider-container .action-btns .button-down {
        transform: translateX(-100%); /*puts the down arrrow to the left*/
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    
    .slider-container .action-btns .button-up {
        transform: translateY(-100%); /*puts the up arrrow slightly higher than the down arrow*/
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    
    
}